{%extends "base.html" %}
{% block content %}
<div P ALIGN="center">
    <h1>List of clans</h1>
</div>

     <style>
    .opinions_table{
        margin-left:100px;
        margin-right:150px;
        margin-top: 50px;
    }
    </style>
    <div class="opinions_table">


    <table border="5px" style="background:#ebddf9">
            <tr>
                <th >ID_CLAN </th>
                <th >NAME OF CLAN </th>
                <th >NUMBER_OF_PERSONS </th>
                <th >MEMBERS </th>

            </tr>

    {% for i in list %}
            <tr>
                <section vocab ="http://schema.org/" typeof = "Organization">
                    <td><span property="identifier">{{ i.id }}</span> </td>
                    <td width="10%"><span property="name">{{ i.name }}</span></td>
                    <td width="15%"><span property="numberofEmployees">{{ i.number_of_person }}</span> </td>
                    <td width="15%"><span property="employees">{{ i.members }}</span> </td>
                    <td><br><a href="{% url 'change_clan' id_clan=i.id %}">Edit your clan!</a> <br/></td>
                    <td><br><a href="{% url 'delete_clan' id_clan=i.id %}">Delete your clan!</a> <br/></td>
            </tr>
    {% endfor %}

        </table>
    </div>
{% endblock %}