{%extends "base.html" %}
{% block content %}
<div P ALIGN="center">
    <h1>List of games</h1>
</div>

     <style>
    .opinions_table{
        margin-left:100px;
        margin-right:150px;
        margin-top: 50px;
    }
    </style>
    <div class="opinions_table">
    <table border="5px" style="background:#ebddf9">
            <tr>
                <th >ID_GAME </th>
                <th >NAME </th>
                <th >VERSION </th>
                <th >COMPANY </th>
                <th >OPINIONS </th>
            </tr>
    {% for i in list %}
            <tr>
                <section vocab ="http://schema.org/" typeof = "Game">
                    <td><span property="identifier">{{ i.appid }}</span></td>
                    <td width="10%"><span property="name">{{ i.name }}</span> </td>
                    <td width="15%"><span property="version">{{ i.version }}</span></td>
                    <td width="15%"><span property="publisher">{{ i.company }}</span></td>
                    <td width="70%"><span property="comment">{{ i.opinion }}</span></td>
                </section>
                <td><br><a href="{% url 'change_game' id_game=i.id %}">Edit your game!</a> <br/></td>
                <td><br><a href="{% url 'delete_game' id_game=i.id %}">Delete your game!</a> <br/></td>
            </tr>
    {% endfor %}

        </table>
    </div>
{% endblock %}