{%extends "base.html" %}
{% block content %}
<div P ALIGN="center">
    <h1>List of clans</h1>
</div>

     <style>
    .opinions_table{
        margin-left:100px;
        margin-right:150px;
        margin-top: 50px;
    }
    </style>
    <div class="opinions_table">
    <table border="5px">
            <tr>
                <th >ID_CLAN </th>
                <th >NAME </th>
                <th >NUMBER_OF_PERSONS </th>
                <th >MEMBERS </th>

            </tr>
    {% for i in list %}
            <tr>
                <td>{{ i.id }}</td>
                <td width="10%">{{ i.name }}</td>
                <td width="15%">{{ i.number_of_persons }}</td>
                <td width="15%">{{ i.members }}</td>
                <td><br><a href="{% url 'change_clan' id_clan=i.id %}">Edit your clan!</a> <br/></td>
                <td><br><a href="{% url 'delete_clan' id_clan=i.id %}">Delete your clan!</a> <br/></td>
            </tr>
    {% endfor %}

        </table>
    </div>
{% endblock %}