<!DOCTYPE html>
<meta charset="UTF-8">
{% load staticfiles %}
<html lang="en"> <head>
<link rel="stylesheet" href="{% static "style/base.css" %}" />
<title>{% block title %}Thanks to visit Steam_app!{% endblock %}</title> </head>
<body>
<div id="header">
<Strong>Thanks to spend your time in this app!</Strong>
<div id="sidebar">
{% block sidebar %}<ul><li><a href="/">Login</a></li></ul>{% endblock %} </div>
{% block content %}
{% endblock %}
<div id="footer">{% block footer %}{% endblock %}</div></body>
</html>